

</div>
<div class="footer-padding"></div>
  <div class="footer">
    <div class="contacts">
    <a style="position:relative;top: 0.8rem; right: 0.5rem;" href="https://www.linkedin.com/in/ranjan-satish-563b451b1"><i class="fa-brands fa-linkedin"></i></a>
    <a style="position:relative;top: 0.8rem;color: black;" href="https://github.com/Ranjan-S1227" ><i class="fa-brands fa-square-github"></i></a>
    <a style="position:relative;top: 0.8rem;;left: 0.5rem; color: rgb(236, 77, 77);" href="mailto:ranjan.s.1227@gmail.com" ><i class="fa-brands fa-google"></i> </a>
    </a> 
    <p style="position: relative;bottom: 0.7rem;color: #99dcdd;">2022 © Ranjan Satish | All rights reserved.</p>

  </div>

  </div>
</div>
</body>
</html>
