
<%- include('partials/header') -%>

<h2  style="font-family: 'Montserrat', sans-serif; color:#0f7572; font-size: 150%; margin-top: 1.5rem; position: relative;top: 10rem;left: 29.5rem;">New Profile Picture</h2>

<div style=" display: flex;
justify-content: center; margin-top: 15%;">

<form  action="/editProfPic" method="POST" enctype="multipart/form-data">

    <input name="myImg" style="margin-bottom:0.5rem; background-color: #f0f0f0;" type="file" class="form-control"  placeholder="Upload Profile picture" required>
    <button type="submit"  class="btn btn2">Update</button>

</form>

</div>

<%- include('partials/footer') -%> 