<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<!-- socket.io for realtime updates -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js" integrity="sha512-YeeA/Qxn5hYdkukScTCNNOhTrv1C2RubAGButJ1rmgQwZf/HdRaCGl+JAVkqsqaNRaYNHdheiuKKuPf9mDcqKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="public/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="public/css/bootstrap-social.css">
  <script src="https://kit.fontawesome.com/8b345ad81c.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet"></head>

 </head>
<body >
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand MyJournal" href="#">My Journal</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
        </div>
      </nav>
      <div class="head1" style="position: relative;top: 10rem;left: 18rem;width: 30rem;">
          <h1 style="font-size: 4rem;color: rgb(68, 68, 68);width: 55rem;">There’s beauty in being <span style="font-size: 5.7rem;color:rgb(96, 156, 156) ;">seen</span></h1>
          <h6 style="font-size: 1.25rem;font-weight: 300;position: relative;left: 20rem;">Record.<span style="color:rgb(96, 156, 156)  ;font-weight: 400;font-size: 1.5rem;">Share</span>.Grow</h6>
          <p style="position:relative;left: 18rem;color: gray;font-size: 1.1rem;">Share your Daily Journals here.</p>
          <div style="position: relative;left: 17.5rem;top: 3rem;height: 40rem;">
          <a href="/login" style="width: 8rem;" class="btn btn1 ">Login</a>
          <a href="/register" style="width:8rem" class="btn btn2 ">Register</a>
          <img style="position:relative;left:28.8rem;bottom: 20rem;width: 40rem;transform: scaleX(-1);" src="public/images/Untitled_design-2-removebg-preview.png" alt="img1">
          
      </div>
    </div>
</body>
        <div class="container"> 


            <style>
                html, body {
  
  overflow-y: hidden;
}
body {
  position: relative
}
                
            </style>